<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Test Page</title>
</head>
<body>
    <a href="{{ user_auth_url }}">Click to Auth</a>

    <fieldset>
        <legend>Send Message to One User</legend>
        <label for="user_id">User ID</label>
        <input type="text" name="user_id" id="user_id">
        <label for="msg">Message</label>
        <input type="text" name="msg" id="msg">
        <button type="submit" id="submit_send_msg">Submit</button>
    </fieldset>

    <fieldset>
        <legend>Register One Bot</legend>
        <label for="bot_name">Bot Name</label>
        <input type="text" name="bot_name" id="bot_name">
        <button type="submit" id="submit_register_bot">Submit</button>
    </fieldset>


    <div id="response"></div>
    
    <script>
        $(function(){
            // send msg
            $("#submit_send_msg").click(function(){
                url = "{{ send_to_one_user_url }}"
                data = {
                    user_id: $("#user_id").val(),
                    msg: $("#msg").val()
                }
                $.post(url, data, function(response){
                    $("#response").html(`<h1>${response}</h1>`);
                })
            });

            // register bot
            $("#submit_register_bot").click(function(){
                url = "{{ register_one_bot_url }}"
                data = {
                    bot_name: $("#bot_name").val()
                }
                $.post(url, data, function(response){
                    $("#response").html(`<p>${response}</p>`);
                })
            });
        });
    </script>
</body>
</html>
